# ==========================================
# 🛑 1. 屏蔽 YOLOv8 数据集与大文件 (极其重要)
# ==========================================
# 屏蔽你根目录下的所有数据集文件夹
*yolov8/
Pothole_Detection*/
aluminum*/
manhole*/
My First Project*/

# 屏蔽 YOLO 训练过程产生的缓存和过大的权重文件
*.cache
runs/
# 如果你的 best.pt 很大(>50MB)，建议连 .pt 也屏蔽，或者只在 GitHub Release 里传
# *.pt

# ==========================================
# 🛑 2. 屏蔽 Python 与 PyCharm 缓存
# ==========================================
.idea/
__pycache__/
*.pyc
venv/
.env

# 屏蔽你上位机自动抓拍和分析产生的大量测试图片
data_manual/
data_evidence/
data_patterns/
*.db  # 如果你不想把本地数据库的测试数据传上网，可以取消注释这行

# ==========================================
# 🛑 3. 屏蔽 STM32 (Keil) 编译垃圾
# ==========================================
# Keil 工程编译产生的中间文件极其庞大且无用
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.lst
*.axf
*.lnp
*.sct
*.hex
*.build_log.htm
Objects/
Listings/
DebugConfig/

# ==========================================
# 🛑 4. 屏蔽 ESP32 (Arduino) 编译垃圾
# ==========================================
build/
*.bin
*.elf

# 补充屏蔽内容
data_collection/
*.pt
*.db
Project.uvguix.*